@page "/"

<PageTitle>Minesweeper</PageTitle>

<h1 class="text-center text-body">
    <a class="text-decoration-none text-dark" href="/">Minesweeper</a>
</h1>
<div class="container">

    @if (!_gameStarted)
    {
        <GameMenu OnGameStarted="@HandleOnGameStarted"/>
    }
    else
    {
        <MinesweeperBoard Game="_game"/>
    }
</div>


@code{
    private bool _gameStarted = false;
    private Minesweeper? _game = null;

    private void HandleOnGameStarted(Minesweeper game)
    {
        _game = game;
        _gameStarted = true;
        
    }

}